{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Registrar </title>
{% endblock %}


{% block antes_del_body%}

{% endblock %}


{% block body %}
<br>

<h2>Cambiar Contraseña</h2>
                <!-- Formulario-->
                <form method="post">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button class="btn btn-primary" type="submit">Guardar Cambios</button>
                  </form>


    

{% endblock %}

