{% extends 'base.html' %}
{% load static %}
{% block head %}

{% endblock %}

{% block body %}

<br>
<div align="center">
    <img src="{{ Profile.image }}" align="center" alt="" height="200px" width="200px" class="rounded-circle">
</div>
<h1>Edita tu perfil</h1>
<table class="table table-bordered">
  <thead>
  </thead>
  <tbody>
    
      {% csrf_token %}
      <br>
      <form  method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Guardar cambios</button>
      </form>
      

  </tbody>
</table>

{% endblock %}
