{% extends 'base.html' %}
{% block title %}
fbv form
{% endblock %}
{% block body %}
<div align="left">
{% csrf_token %}
<br>
<form  method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}
  <button class="btn btn-primary" type="submit">Guardar cambios</button>
</form>
</div>
{% endblock %}