{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Inicio</title> 
{% endblock %}


{% block antes_del_body%}
        <div align="right">
            <br>

        </div>
{% endblock %}


{% block body %}
    <body>
        <ul>
            {% for match in matchs %}
            <br>
            <br>
            <li>{{match.team1}} <strong>VS</strong> {{match.team2}}</li>
            <br>
            <br>
            {% endfor %}
        </ul>
    </body>
    {% endblock %}