{% extends 'base.html' %}
{% load static %}
{% block head %}

{% endblock %}

{% block body %}

<br>
<div align="center">
    <img src="{{ Profile.image }}" align="center" alt="" height="200px" width="200px" class="rounded-circle">
</div>
<table class="table table-bordered">
  <thead>
  </thead>
  <tbody>
    <br>
    <br>

    {% if Profile %}
    <tr>
      <td>Nombre de Usuario : </td>
      <td>{{ Userr.username}}</td>
    </tr>
    <tr>
      <td>Nombre :</td>
      <td>{{ Userr.first_name}}</td>
    </tr>
    <tr>
      <td>Apellido : </td>
      <td>{{ Userr.last_name}}</td>
    </tr>
    <tr>
      <td>Rut : </td>
      <td>{{ Profile.rut}}</td>
    </tr>
    <tr>
      <td>Email : </td>
      <td>{{ Userr.email}}</td>
    </tr>
        {% else %}
        <tr>
          <td>Nombre de Usuario : </td>
          <td>{{ Userr.username}}</td>
        </tr>
        <tr>
          <td>Nombre :</td>
          <td>{{ Userr.first_name}}</td>
        </tr>
        <tr>
          <td>Apellido : </td>
          <td>{{ Userr.last_name}}</td>
        </tr>
        <tr>
          <td>Email : </td>
          <td>{{ Userr.email}}</td>
        </tr>


        {% endif %}


  </tbody>
</table>
<div align="center";><a role="button" class="btn btn-primary" href="{% url 'Game:editUser' %}">Editar Perfil</a></div>

{% endblock %}
