{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Players</title> 
{% endblock %}


{% block antes_del_body%}
        <div align="right">
            <br>

        </div>
{% endblock %}


{% block body %}

{% if request.user.is_staff  %}
<a href="{% url 'Game:home' %}">back to home</a><br>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>name</th>
      <th>nickname</th>
      <th>birthday</th>
      <th>age</th>
      <th>rut</th>
      <th>email</th>
      <th>height</th>
      <th>weight</th>
      <th>photo</th>
      <th>team</th>
      <th>position</th>
      <th>Activity</th>
    </tr>
  </thead>
  <tbody>
    <a href="{% url 'Game:Player_add' %}">add</a>
    {% for b in Player %}
    <tr>
      <td>{{ b.name }}</td>
      <td>{{ b.nickname }}</td>
      <td>{{ b.birthday }}</td>
      <td>{{ b.age }}</td>
      <td>{{ b.rut }}</td>
      <td>{{ b.email }}</td>
      <td>{{ b.height }}</td>
      <td>{{ b.weight }}</td>
      <td><img src="{{ b.photo }}"  alt="" height="100px" width="100px"  class="rounded-circle"></td>
      <td>{{ b.team }}</td>
      <td>{{ b.position }}</td>

      <td>
        <a href="{% url 'Game:Player_update' b.id %}">edit</a>
        <a href="{% url 'Game:Player_delete' b.id %}">delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<a href="{% url 'Game:home' %}">back to home</a><br>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>name</th>
      <th>nickname</th>
      <th>birthday</th>
      <th>age</th>
      <th>rut</th>
      <th>email</th>
      <th>height</th>
      <th>weight</th>
      <th>photo</th>
      <th>team</th>
      <th>position</th>

    </tr>
  </thead>
  <tbody>

    {% for b in Player %}
    <tr>
      <td>{{ b.name }}</td>
      <td>{{ b.nickname }}</td>
      <td>{{ b.birthday }}</td>
      <td>{{ b.age }}</td>
      <td>{{ b.rut }}</td>
      <td>{{ b.email }}</td>
      <td>{{ b.height }}</td>
      <td>{{ b.weight }}</td>
      <td><img src="{{ b.photo }}"  alt="" height="100px" width="100px"  class="rounded-circle"></td>
      <td>{{ b.team }}</td>
      <td>{{ b.position }}</td>

    </tr>
    {% endfor %}
  </tbody>
</table>

{% endif %}

{% endblock %}