{% load static %}

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    
    <a class="navbar-brand" href="{% url 'Game:home' %}">
        <img src="{% static 'img/33838.png' %}"  alt="Basket App" height="100px" width="100px"  class="rounded-circle">
    </a>
    

    <button type="button" name="button" class="navbar-toggler navbar-toggler-right" data-toggler="colapse" data-target="#navbar">
        <span class="navbar-toggler-icon"></span>
    </button>

 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
        {% if user.is_authenticated %}
            {% if request.user.is_staff  %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Game:home' %}">Inicio </a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Game:indexCoach' %}">Entrenadores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Game:indexTeam' %}">Equipos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Game:indexPlayer' %}">Jugadores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Game:matchs_list' %}">Partidas Jugadas</a>
                </li>
                {% else %}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Game:matchs_list' %}">Partidas Jugadas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Game:indexTeam' %}">Equipos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Game:indexPlayer' %}">Jugadores</a>
                </li>

            {% endif %}
        {% endif %}
        
        </ul>
    </div>
    

    <div id="navb" class="navbar-collapse collapse hide">
        <ul class="nav navbar-nav ml-auto">

                
            {% if user.is_authenticated %}
            <li class="navbar-item">
                <a href="{% url 'Game:Perfil' %}" class="nav-link">
                    <span class="fa fa-user"></span>
                    Mi Perfil</a>
            </li>
            <li class="navbar-item">
                <a href="{% url 'Game:ChangePassword' %}" class="nav-link">
                    <span class="fa fa-user"></span>
                    Cambiar Contraseña</a>
            </li>
            <li class="navbar-item">
                <a href="{% url 'Game:logout' %}" class="nav-link">
                    <span class="fa fa-sign-in-alt"></span>
                    Cerrar Sesión</a>
            </li>
        {% else %}
            <li class="navbar-item">
                <a href="{% url 'Game:login' %}" class="nav-link">
                    <span class="fa fa-user"></span> 
                    Iniciar Sesión</a>
            </li>
            <li class="navbar-item">
                <a href="{% url 'Game:registro' %}" class="nav-link ">
                    <span class="fa fa-user-plus"></span>
                    Registro entrenador</a>
            </li>
        {% endif %}
        
    </ul>
</div>


          
            
    

</nav>